################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LCA151to200/v16/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
*.pdb
*.ilk
*.exe
*.tlog
*.log
*.recipe
*.obj
*.idb
*.ipch
*.db
*.db-shm
*.db-wal
*.opendb
*.suo
